Repos:
  - display_name: repo_name (display only)
    name: repo_short_name
    url: repo_name (owner/name)
    chatwork_box: box_id
    auto_read: true (auto mark as read)
    track_event:
      - comment
      - pullrequest
      - issue
